.container{
    margin-top: -60px;
}

.header{
    text-align: center;
    width: calc(100% - 160px);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px auto;
    color: #333;
}

.header h2{
    margin: 0;
}

.noProj{
    text-align: center;
    color: #333;
    font-size: 15px;
}

.noProj a{
    color: rgb(65, 65, 255);
}

.linkArea{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    padding: 0 10px;
}

.linkArea a{
    color: rgb(65, 65, 255);
    transition: all ease .2s;
    text-decoration: none;
}

.linkArea a:hover{
    text-decoration: underline;
}