.container{
    margin-top: -60px;
}

.header{
    text-align: center;
    width: calc(100% - 160px);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px auto;
    color: #333;
}

.header h2{
    margin: 0;
}

.noProj{
    text-align: center;
    color: #333;
    font-size: 15px;
}

.noProj a{
    color: rgb(65, 65, 255);
}

.linkArea{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    padding: 0 10px;
}

.linkArea a{
    color: rgb(65, 65, 255);
    transition: all ease .2s;
    text-decoration: none;
}

.linkArea a:hover{
    text-decoration: underline;
}

@media(max-width: 800px){
    .header{
        margin: 18px auto;
    }
    .header h2{
        font-size: 20px;
    }
}

@media(max-width: 600px){
    .header{
        margin: 20px auto;
    }
    .header h2{
        font-size: 16px;
    }
   
}

@media(max-width: 550px){
    .header{
        margin: 22px auto;
    }
    .header h2{
        font-size: 14px;
    }
    .linkArea{
        margin: 10px auto;
        font-size: 13px;
    }
    .noProj{
        margin: 30px auto;
        font-size: 13px;
        padding: 0 10px;
    }
}

