.subitem{
    margin-left: 20px;
    display: inline-block;
}

.innerTrigger{
    display: flex;
}

.optionsBar{
    width: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-left: none;
    transition: width .2s ease;
    overflow: hidden;
}

.innerTrigger:hover .optionsBar{
    width: 60px;
    border: 1px solid rgb(34, 34, 34);
    border-left: none;
}

.innerTrigger:hover .optionsBar.big{
    width: 90px;
}

.innerTrigger:hover .trigger{
    border: 1px solid rgb(34, 34, 34);
}

.trigger{
    font-weight: 600;
    color: #333;
    font-size: 15px;
    width: calc(100% - 90px);
    cursor: pointer;
    padding: 5px 10px;
    padding-right: 35px;
    border: 1px solid transparent;
    display: inline-block;
    transition: border .2s ease;
    position: relative;
}

.trigger::before{
    content: "";
    width: 20px;
    height: 20px;
    background: url(../../../../../assets/icons/down-arrow-grey.svg) center no-repeat;
    background-size: cover;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    transition: transform .3s ease;
}

.trigger.withoutArr::before{
    display: none;
}

.subitem.show .trigger::before{
    transform: translateY(-50%) rotate(-180deg);
}

.addSubtaskbtn{
    margin: 0;
    padding: 0;
    width: 20px;
    height: 20px;
    border: none;
    outline: none;
    background: url(../../../../../assets/icons/plus-grey.svg) center no-repeat;
    background-size: cover;
    cursor: pointer;
}

.delete{
    margin: 0;
    padding: 0;
    width: 20px;
    height: 20px;
    border: none;
    outline: none;
    background: url(../../../../../assets/icons/delete.svg) center no-repeat;
    background-size: cover;
    cursor: pointer;
}

.completed{
    margin: 0;
    padding: 0;
    width: 20px;
    height: 20px;
    border: none;
    outline: none;
    background-size: cover;
    cursor: pointer;
}

.done{
    background: url(../../../../../assets/icons/completed-green.svg) center no-repeat;
}

.noDone{
    background: url(../../../../../assets/icons/completed.svg) center no-repeat;
}

.body{
    display: flex;  flex-direction: column;
}

.subForm{
    padding-left: 50px;
    padding-top: 5px;
    padding-bottom: 20px;
}

.trigger.dragOver{
    background-color: rgb(168, 167, 167);
    border: 1px solid rgb(34, 34, 34);
}

.trigger.dragOver + .optionsBar{
    width: 90px !important;
    border: 1px solid rgb(34, 34, 34);
    border-left: none;
    background-color: rgb(168, 167, 167);
}

@media (max-width: 600px) {
    .subitem{
        margin-left: 10px;
    }
    .trigger{
        font-size: 14px;
        padding: 5px;
        padding-right: 30px;
    }
    .trigger.withoutArr{
        padding-right: 5px;
    }
    .subForm{
        padding-left: 25px;
    }
}

@media (max-width: 550px) {
    .trigger{
        font-size: 13px;
    }
}