.menu{
    width: 300px;
    background-color: rgb(83, 83, 83);
    position: absolute;
    height: 0;
    transition: height .3s ease;
    overflow: hidden;
    padding: 0 10px;
}

.menu.show{
    height: calc(100vh - 60px);
    transition: height .3s ease .3s;
    overflow-y: auto;
    box-shadow: 0 0 3px #333;
}

.addNewProj{
    color: rgb(235, 235, 235);
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    font-size: 15px;
    transition: color .2s ease;
    position: relative;
    display: flex;
}

.addNewProj::after{
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    right: 0;
    background: url(../../../assets/icons/plus.svg) center no-repeat;
    background-size: cover;
}

.addNewProj:hover{
    color: #fff;
}