.item{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 0 10px 15px;
    flex-direction: column;
    color: #333;
}

.input{
    display: none;
}

.input:checked + .optionLabel::after {
    transform: scale(1);
}

.optionItem{
    padding: 5px;
}

.optionLabel {
    font-size: 14px;
    display: inline-flex;
    line-height: 120%;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.optionLabel::before {
    content: "";
    flex: 0 0 24px;
    align-self: flex-start;
    height: 24px;
    background-color: #fff;
    border-radius: 50%;
    margin-right: 10px;
}

.optionLabel::after {
    content: "";
    position: absolute;
    top: 4px;
    left: 4px;
    width: 16px;
    height: 16px;
    background-color: #7a956b;
    border-radius: 50%;
    transform: scale(0);
    transition: transform 0.4s ease 0s;
}