.card{
    width: 30%;
    background-color: rgb(182, 182, 182);
    border-radius: 10px;
    box-shadow: 0 0 1px 1px #333;
    transition: background-color .2s ease;
}

.header{
    text-align: center;
    margin: 10px 0;
    padding: 0 10px;
    color: #333;
}

.body{
    padding: 0 15px;
}