.card{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(182, 182, 182);
    border-radius: 10px;
    box-shadow: 0 0 1px 1px #333;
    transition: background-color .2s ease;
    &:first-child{
        justify-content: start;
    }

    @media(max-width: 1000px){
        width: 100%;
        margin-bottom: 30px;
    }
    @media(max-width: 430px){
        margin-bottom: 10px;
    }
}

.header{
    text-align: center;
    margin: 10px 0;
    padding: 0 10px;
    color: #333;

    @media(max-width: 800px){
        font-size: 20px;
    }
    @media(max-width: 600px){
        font-size: 18px;
    }
    @media(max-width: 430px){
        font-size: 16px;
    }
}

.body{
    padding: 0 15px;

    @media(max-width: 430px){
        margin-top: 10px;
    }
}

.showAllLink{
    text-align: center;
    display: flex;  
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 13px;
    color: rgb(0, 36, 199);
    font-weight: 600;
    transition: all ease .2s;
    margin-bottom: 30px;
    &:hover{
        text-decoration: underline;
    }

    @media(max-width: 1000px){
        margin-bottom: 20px;
    }
    @media(max-width: 430px){
        margin-bottom: 10px;
    }
}


