.table{
    color: #333;
    width: 100%;
    font-size: 14px;
    background-color: #fff;
}

.table thead{
    font-weight: 600;
}

.table td{
    padding: 5px;
}

.table, td {
    border: 1px solid rgb(88, 88, 88);
    border-spacing: 0;
}

.table td{
    text-align: center;
}

.table a{
    color: rgb(65, 65, 255);
    text-decoration: none;
    transition: all ease .2s;
}

.table a:hover{
    text-decoration: underline;
}

.table td:nth-child(1){
    width: 15%;
}
.table td:nth-child(2){
    width: 15%;
}
.table td:nth-child(3){
    width: 55%;
}
.table td:nth-child(4){
    width: 5%;
}
.table td:nth-child(5){
    width: 5%;
}
.table td:nth-child(6){
    width: 5%;
}

.btn{
    outline: none;
    border: none;
    padding: 0;
    margin: 0;
    font-size: 24px;
    color: rgb(255, 112, 112);
    font-size: 20px;
    font-weight: 600;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: #fff;
    transition: all ease .3s;
}

.btn:hover{
    color: rgb(253, 0, 0);
}

.green{
    color: rgb(0, 221, 0);
}

@media(max-width: 650px){
    .table{
        font-size: 13px;
    }
}

@media(max-width: 550px){
    .table{
        font-size: 12px;
    }
}

@media(max-width: 450px){
    .table{
        font-size: 10px;
    }
}

@media(max-width: 400px){
    .table{
        font-size: 9px;
    }
    .table td{
        padding: 2px;
    }
}

@media(max-width: 350px){
    .table{
        font-size: 8px;
    }
   
}