.noProj{
    text-align: center;
    color: #333;
    font-size: 15px;
}

.noProj a{
    color: rgb(65, 65, 255);
}

.table{
    color: #333;
    width: 100%;
    font-size: 14px;
    background-color: #fff;
}

.table thead{
    font-weight: 600;
}

.table td{
    padding: 5px;
}

.table, td {
    border: 1px solid rgb(88, 88, 88);
    border-spacing: 0;
}

.table td{
    text-align: center;
}

.table a{
    color: rgb(65, 65, 255);
    text-decoration: none;
    transition: all ease .2s;
}

.table a:hover{
    text-decoration: underline;
}

.btn{
    outline: none;
    border: none;
    padding: 0;
    margin: 0;
    font-size: 24px;
    color: rgb(255, 112, 112);
    font-size: 20px;
    font-weight: 600;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: #fff;
    transition: all ease .3s;
}

.btn:hover{
    color: rgb(253, 0, 0);
}

.green{
    color: rgb(0, 221, 0);
}