.container{
    margin-top: 50px;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;

    @media(max-width: 1000px){
        flex-direction: column;
    }
    @media(max-width: 430px){
        margin-top: 30px;
        padding: 0 5px;
    }
}

.img{
    display: block;
    max-width: 100%;
    height: 150px;
    width: 150px;
    margin: 30px auto;

    @media(max-width: 1000px){
        margin: 20px auto;
    }
    @media(max-width: 430px){
        margin: 5px auto 10px;
    }
}

